[2015-03-12 19:41] vchekan opened #1 "Infinite failure loop if offset is incorrect"
If out of range offsets were provided, the driver falls into infinite failure-recovery loop. In this particular case I observed offset being "-1".

Several problems to address here:
* Where -1 comes from?
* Out of boundaries error is classified as a terminal one, how come it is not reported and partition fetcher is not terminated?

[2015-03-12 19:45] vchekan opened #2 "Detect recurrent failures"
If driver enters failure-recovery loop, this should be detected and promoted to an error.
A flexible policy should be implemented with meaningful default.

Expose failures and recoveries as IObservable and subscribe a policy which would raise an error when failure-recovery pattern happens for more than 1000 times within 5 minutes and no message has been received (no progress).

[2015-03-13 19:09] #1 closed

[2015-03-13 20:41] vchekan opened #3 "Create documentation"
Create documentation to promote adoption.
Have quickstart examples on the front page.
More detailed documentation in wiki.
Document use cases (reading from beginning, custom offsets, synchronization, etc)

Document internal architecture.

[2015-03-13 20:44] vchekan opened #4 "Create nuget package"
Create nuget package

[2015-03-13 20:46] vchekan opened #5 "Resedign error processing"
Currently error processing is focused around kafka broker recovery. Connecting to broker, fetching offsets is not reliable and failures are not handled properly, leading to occasional random behavior.

[2015-03-13 21:04] vchekan opened #6 "Better default for fetching position"
Fetching position API is not intuitive. Make a default consumer api such that there is not need to know it before you really need. Default to fetching from the end of the queue.
Maybe rethink either it is possible to make the API more intuitive.

[2015-03-13 21:04] vchekan opened #7 "Implement compression"
Implement compression

[2015-03-14 03:58] vchekan opened #8 "Measure performance"
Measure GC, memory footprint, cpu, throughput,  and evaluate either they are sensible.
Low-hanging fruit is to not allocate tcp buffer for each read but reuse one.

[2015-03-23 16:34] vchekan opened #9 "Quiet seed connections"
When seed connections are taken over by plain ones, exception is thrown. It is no harm, but confusing.
Think about more logical algorithm, perhaps the one which reuses connection. Previous attempt to reuse failed because old callbacks were called.

[2015-09-04 22:48] frankbohman opened #11 "Something is leaking when under pressure"

[2015-09-04 22:53] frankbohman commented on #11
we will try to find out exactly where, we are pushing a high amount of fairly big messages through, with great performance: it seems, but they seem to get stacked?

[2015-09-08 19:23] thunderstumpges commented on #11
Hi, I have not looked much into this issue, but we have also sent data at a pretty high rate (>4,000/s) without "leaking" anything, over quite a long time (weeks). What is "a high amount" and what is "fairly big" ? All of these things are relative I believe, and many factors are involved. Our messages are fairly small (1-5kb), and our network is quite fast (dual bonded 10g ethernet) I am wondering

[2015-09-09 04:36] frankbohman commented on #11
thank you for your response to this, your client is by far the fastest one
we have tried out, and so we really want it to work for us.

we tried the autogrowsenbuffer false option, capturing the messages in
onpermerror and putting them back in a sendqueue, however the idea about
that something might be wonky with our leaders/partitions might be a good
lead to investigate, we use 10 partitions, and

[2015-09-09 16:32] thunderstumpges commented on #11
Ok, well I am guessing that you need a little more instrumentation and experimentation. If you set autogrowsendbuffer to false and get messages back in OnPermError, if you just put them somewhere else in an in-memory queue, you haven't solved the problem which is you just can't keep up with the rate you're trying to send at. If at all possible, when you get the auto-grow exception, you should thro

[2015-09-09 17:38] vchekan commented on #11
@frankbohman you will have better chances of being helped if you post essential details. You mentioned you are getting some errors in perm error handler, but you have not specified which errors those are.

Generally speaking, perm handler is triggered when the driver believes that it can not recover from particular error. For example, message is larger than kafka server would accept, or partition

[2015-09-09 18:11] frankbohman commented on #11
thanks again for the replies, we did exactly as suggested by a chance
today, that is: a counter to keep track of sent vs successfully sent
messages, and it works lika charm :), we also have the buffer fixed and
autogrow turned off ofc.

the message sizes varies between 2b to 700k, and as you have said, it.
seems the streams with the lager messages are the ones backing up, and the
fact that we just

[2015-09-09 18:41] vchekan commented on #11
@frankbohman glad you made progress on the issue. Let us know if you have more problems.

If you are familiar with Windows Event Tracing, you can get a lot of useful information by using some tracing tool ( I would recommend PerfView, if you do not have a favorite yet). The driver publishes all essential details of its internal working under "kafka4net" source:
https://github.com/ntent-ad/kafka4ne

[2015-09-09 19:02] vchekan opened #12 "Upgrade to nunit-3"
Upgrade to nunit version 3 and use its features, such as constructor/dispose, variables injectors, callback based exceptions testers.

Implement something like akka.tetkit Within() to test time constrains more elegant.

[2015-09-09 19:12] vchekan opened #13 "Packaging improvements"
Publish symbols.
Package with framework 4.6

[2015-09-14 22:07] avoxm commented on #3
Any progress on this ?

[2015-09-29 11:07] vikmv opened #14 "Producer sometimes stops working after broker restart"
Producer sometimes stops working after restart of single Kafka brokers.
It doesn't happen always (have not found stable way to reproduce it yet), but here are some observations.

* There are messages in log like this:

[code]

* We are running multiple instances of producers (on different hosts) and when the issue occurs, it happens on all the producers which are writing to that topic at the same

[2015-09-29 16:07] vchekan commented on #14
This error sounds familiar. I'll make pre-release nuget package to either add more debugging info or a patch.

[2015-09-30 09:10] vikmv commented on #14
Managed to reproduce it.

Steps to reproduce:

* Prerequisites: 3 Kafka brokers [1,2,3] and one topic with one partition. Partition leader = 2
* Stop 2nd broker (so, the leader now will be 1 or 3)
* Create the producer (seed brokers = [1,2,3])
* It will receive metadata about 2 brokers only - 1 and 3
* At this point - writes are successful
* Start 2nd broker and wait for or force preferred replica

[2015-09-30 17:07] vchekan commented on #14
Great info Viktor!
"force preferred replica election": I think here is the problem, I have no single unit test to cover forced reelection. Will add it to the issues.
I should be able to work on it tomorrow.

[2015-09-30 17:09] vchekan opened #15 "Add unit test to cover force preferred replica election"
#14 highlighted that we have no coverage of scenarios when preferred replica is changed.

[2015-10-01 06:08] vikmv commented on #14
It doesn't matter if it was forced election or just an ordinary election.
The main reason - when Producer is created - only 2 out of 3 brokers are available.

So when topic metadata is retrieved, MergeTopicMeta is called but this code
[code]
adds only 1st and 3rd brokers (2nd is not available at the moment)

When 2nd broker becames available and was reelected as a leader for that partition (once a

[2015-10-01 11:07] vikmv opened #16 "Producer is unable to fetch topic metadata when first kafka broker is down"
While working on #14, noticed one more issue.

**Steps to reproduce:**
* Prerequisites: 3 kafka brokers (1,2,3)
* Stop 1st kafka broker
* Create producer `new Producer("kafka1,kafka2,kafka3", configuration)`
* Producer is unable to fetch metadata and repeats the error: "Error while trying to fetch topic 'topic_name' metadata, will retry."

My findings why this is happening:

[code]

So, metadata.B

[2015-10-01 13:38] vikmv commented on #16
Created pull request #17 with one of possible solutions of this issue

[2015-10-01 18:56] vchekan commented on #14
@vikmv I can reproduce the bug in a test, see 5ca1636c3010381ff611ce5ec84976033a02c6ac and I can confirm that your patch does fix the issue. Just want to meditate on it a little bit more.

[2015-10-02 00:03] vchekan commented on #14
@vikmv what's your replication factor? I assume it is 2?

[2015-10-02 04:01] vikmv commented on #14
Patch was supposed to fix #16 (which happens because Linq Except method operates with sets and not the sequences, so Except() result also perform Distinct())
But it do not fix this one.
Sorry not to mention it earlier, but replication factor is 3 (but most likely it can be reproduced with 2 too) and kafka version is 0.8.2.1

[2015-10-02 14:39] vikmv commented on #14
Here is a dirty repro of this issue (very dirty, test even doesn't fail, but you can find a failure in a log):

[code]

[2015-10-02 16:56] vchekan commented on #14
@vikmv what's `VagrantBrokerUtil.DescribeTopic(topic);`, is it `kafka-topics.sh --describe --topic`?

[2015-10-02 17:13] vikmv commented on #14
Yes, it's `--describe --topic`. Just to be sure that in first call 2nd broker isn't a leader for any partition, and during second call - it became a leader for one partition.
The issue is that PartitionRecoveryMonitor._brokers knows about brokers 1 and 3 (because 2nd broker was unavailable during startup), and when it fetches new metadata (after 2nd became a leader for a partition) and see there b

[2015-10-02 18:47] vchekan commented on #3
Progress: created Design and Troubleshooting sections.

[2015-10-02 19:40] vchekan commented on #14
Yeah, I spoke too early when claimed I got reproduced the bug. But this time I've got. it. Had to fix yet another bug though.

The reason I did not add newly discovered broker while in partition recovery, is a logical one. I was at the time under impression, that when connecting, the cluster would inform me about topic topology in general and not just current state. Perhaps I developed such an imp

[2015-10-05 23:03] #16 closed

[2015-10-05 23:05] vchekan commented on #16
Thanks for reporting this. I fixed it in different manner though. I fixed the comparer, so that if it is used in other placed, this bug would not show up again.

[2015-10-06 10:21] torokoh opened #19 "No exceptions thrown when all brokers are not available during startup of producer"
Hi. I'm trying to determine how will the Producer behave when it is not able to connect to any brokers in the Kafka cluster during startup. Based on my testing, no exceptions thrown  when the brokers are unavailable. Am I doing anything wrong?

This is how I tested:

1) Shutdown all Kafka broker processes
2) Run a simple producer and call await ConnectAsync()
3) Send a message

[2015-10-06 19:52] #14 closed

[2015-10-06 19:54] vchekan commented on #15
Resolved as part of #14 unit tests.

[2015-10-06 19:54] #15 closed

[2015-10-06 19:56] #11 closed

[2015-10-06 20:00] vchekan commented on #5
### Context
Initial idea of implementing error recovery was to have single point, in tcp connection object where all error recovery would be made.
But it turned out too low level, because depending on what this connection is doing, we might want different strategy for recovery.
When RecoveryMonitor tests either broker is available, we do not want any recovery and want fail fast instead.
Another is

[2015-10-06 20:00] #4 closed

[2015-10-06 20:16] vchekan commented on #19
The idea is to try as hard as possible to deliver data. Even if there is no broker available, it does not mean, that this is a permanent condition. It could be maintenance downtime for example. Driver can not know how critical it is for application to deliver data within timeout period.

I can think about scenario when data become stale within certain timeout or when alert should be sent.

You can

[2015-10-07 06:11] vikmv commented on #19
By the way, I've tried to find the usages of Producer.OnTempError, and the only usage was this one: `OnTempError = null;` (in Producer.CloseAsync)
Probably, that's not how that supposed to be.

[2015-10-07 17:44] vchekan commented on #19
@vikmv oh, you are right. It fell through the crack somewhere. Marking as a bug.

[2015-10-07 17:46] vchekan commented on #13
Started generating and uploading symbols. In regard to framework 4.6, lets postpone it unless there are good reasons to do.

[2015-10-07 17:46] #13 closed

[2015-10-08 05:58] torokoh commented on #19
@vikmv I'm installing an application across many machines to collect some statistics. These machines are connected to the Kafka cluster through an internal network. They are mobile and can be disconnected from the Kafka cluster for a prolong period of time and I want to minimize data lost. That is why there is a need to cache the data on the client machine.

[2015-10-08 17:45] avoxm commented on #3
I will add some sample code under Examples section please have a look.

[2015-10-08 18:05] vchekan commented on #3
@avoxm sure, go ahead. I'll review.

[2015-10-12 10:04] himanshuatjudo opened #20 "OffsetCommitRequest API implementation"
It seems I could find offset commit implementation, is there any idea when it will be released?

[2015-10-15 03:10] vchekan commented on #20
There is no such plan, because my use case requires high reliability, so I store offsets on my own along with data. This way it is impossible for me to move offset ahead in zookeeper, and than fail saving processed data, which would cause a "gap" in data stream when process recovers.

But if anybody would like to implement it, I will be happy to help.

[2015-10-15 17:44] avoxm opened #21 "How to start consuming with a specific offset."
It looks like it is quite straight forward to consumer message from "start" or from the "end" like this

                var startPosition = new StartPositionTopicStart();
                var consumer = new Consumer(new ConsumerConfiguration(_seedAddresses, topic, startPosition));

                var consumerSubscription = consumer.OnMessageArrived.
                    Subscribe(msg =>

[2015-10-15 17:52] vchekan commented on #21
Sure, there a unit test called ExplicitOffsets()
https://github.com/ntent-ad/kafka4net/blob/master/tests/RecoveryTest.cs#L984

[2015-10-15 18:04] avoxm commented on #21
@vchekan thanks for the reference. Actually I have already tried it, for some reason it is throwing  kafka4net.PartitionFailedException

Here's my code :

var offsetFetchCluster = new Cluster(_seedAddresses);
                offsetFetchCluster.ConnectAsync().Wait();

                Task.Delay(TimeSpan.FromSeconds(1)).Wait();

                var offsets = new TopicPartitionOffsets(

[2015-10-15 18:24] vchekan commented on #21
[code]

What this snippet does, it starts from tail-300 position. Is it possible, that you have less than 300 items in your partition(s) and offset comes out to be negative? In the unit test the topic is filled out and than offset is tested, so it is guaranteed that resulting offset is positive. Is it your case? If you store offsets outside and want to restart from those positions, you might want

[2015-10-15 18:30] avoxm commented on #21
Hmmmm... It might be the case since the message says :
"partition 2 failed with error code OffsetOutOfRange", but this is bizarre since when I run with StartPositionTopicStart it receives thousands of messages.
And here is what I see in offsets
"2|11000142,4|5000163,0|5000126,1|11987920,3|12000139"

So apparently there are messages...

[2015-10-15 18:42] vchekan commented on #21
`StartPositionTopicStart` this is where your partition starts. You might want to print out where it ends and which position you do request to make sure you are within existing range.

As time goes, kafka truncates older partition segments. In your case, partition 2 starts at offset 11000142 and everything before this offset is gone.

You might be willing to implement some guard code for case when

[2015-10-15 18:49] avoxm commented on #21
You are right... Apparently I have messages only in one partition here is what I have
Start : 2|11000143,4|5000164,0|5000127,1|11736199,3|12000140
End  : 2|11000143,4|5000164,0|5000127,1|11987921,3|12000140

I guess I will need to check that my start offset per each partition is not bigger than my stored value.

Thanks a lot for your help Vadim !

[2015-11-05 16:59] #21 closed

[2015-11-06 20:48] avoxm opened #22 "Producer throws exception when sending a lot of messages"
I am trying to stress test the producer and it seems like it is timing out all the time
Here is the code

                var producer = new Producer(seed2Addresses,
                    new ProducerConfiguration(topic));
                producer.ConnectAsync().Wait();

                for (int i = 0; i < 200000; ++i)
                {
                    var msg = new Message()

[2015-11-09 19:00] vchekan commented on #22
@avoxm I'll take a look soon. Meanwhile you might be willing to trace what Producer is doing under the hood:
https://github.com/ntent-ad/kafka4net/wiki/Troubleshooting#tracing

[2015-11-09 19:45] avoxm commented on #22
Thanks @vchekan, will check the traces from my end.

[2015-11-12 18:32] avoxm commented on #20
@vchekan you can assign this to me. I will need offset commit/fetch API.

[2015-11-12 18:36] avoxm commented on #22
Apparently the problem was related to connectivity since I was using VPN. It works perfectly fine with "direct", no VPN connection.

[2015-11-12 18:36] #22 closed

[2015-11-12 19:36] vchekan commented on #20
@avoxm go for it.
Kafka protocol spec I used is here:
https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol

Low level serializer helper is here:
https://github.com/ntent-ad/kafka4net/blob/master/src/Protocols/Serializer.cs

API calls are implemented here:
https://github.com/ntent-ad/kafka4net/blob/master/src/Protocols/Protocol.cs

And than you will implement a user facin

[2015-12-01 18:22] avoxm commented on #11
It looks like there is really a memory leak.
The issue is that after sending a big chunk of data kafka4net still keeps a reference to some data that keeps memory from being collected.

This is quite easy to reproduce
1. Bulk Send (1 mln probably)
2. Wait till everything is sent
3. Close connection
4. Run GC
5. You will notice that kafka4net still keeps a reference to big amount of memory.

You can

[2015-12-01 18:23] avoxm opened #23 "Memory leak"
It looks like there is a memory leak.
The issue is that after sending a big chunk of data kafka4net still keeps a reference to some data that keeps memory from being collected.

This is quite easy to reproduce
1. Bulk Send (1 mln probably)
2. Wait till everything is sent
3. Close connection
4. Run GC
5. You will notice that kafka4net still keeps a reference to big amount of memory.

You can also r

[2015-12-01 20:46] avoxm commented on #23
It looks like the issue is here :
https://github.com/ntent-ad/kafka4net/blob/692dd1c902d754537113ba372568296078ee2c8f/src/Producer.cs#L557

[2015-12-01 20:48] thunderstumpges commented on #23
We have been running significant producer load on this library in production stably for weeks without any sustained memory growth.

Is your data stream very bursty? I.E. do you often batch 1 million or so entries, then just sit around and wait for a while?

If that is the case, I suspect what might be happening is the circular buffers used to buffer messages prior to them being sent is auto-growin

[2015-12-01 20:50] thunderstumpges commented on #23
Hah, yes overlapping comments. It is just as I suspected. The producer, and its circular buffer were designed largely around a consistent stream of messages. I am fairly certain if you repeat your test and measure across say half a dozen or so batches (of whatever size) you will get constrained memory growth limited by the max size needed to buffer a particular "batch".

[2015-12-01 20:53] avoxm commented on #23
Yes we process data in batches with some pause in between. The thing is that buffer keeps on growing small by small. For example after 10 batches of 100K (each message is 2KB) it keeps ~1.8GB of memory.

[2015-12-01 20:59] avoxm commented on #23
And the question is why it is still keeping it after closing the producer by calling CloseAsync ?
Isn't it suppose to release the memory.

[2015-12-01 21:06] avoxm commented on #23
It looks like _allPartitionQueues should be set to null in CloseAsync.
Otherwise it seems that it will accumulate memory consumption.

Here is the scenario for my batch processing :
1. Get 100K data
2. Create a producer and process data
3. Close producer
4. If more data repeat from step 1

So each producer will consumer a memory for that buffer, which will keep accumulating.

[2015-12-01 21:12] thunderstumpges commented on #23
Do you know for certain that your througput is sufficient to send all messages in one batch before the next one starts?

If you cannot keep up, then obviously the buffer must grow because you are adding another batch while there are still some messages left in the existing batch.

In the circular buffer implementation, in the case of a reference type <T> the reference will not be released until a

[2015-12-01 21:15] thunderstumpges commented on #23
After you close the producer, are you correctly releasing all handles to the producer? If so, the producer and all of its resources should be available for garbage collection once you have no handles left to the producer.

[2015-12-01 21:16] vchekan commented on #23
@avoxm ```It looks like _allPartitionQueues should be set to null in CloseAsync```
I'm not sure how this is possible. If you create and dispose producers, then GC should free producer's memory and thus _allPartitionQueues too. How it's possible that it is not released?

[2015-12-01 21:16] thunderstumpges commented on #23
BTW, I would highly suggest using a single producer for each topic and writing a shim to access a producer across batches. This will avoid a LOT of thrashing (new connections, new buffers, fetching metadata, etc)

[2015-12-01 21:17] avoxm commented on #23
Yes for the first question. Batches are being processed in synchronously. Next batch will be processed only after await CloseAsync.
The fact that buffer needs to grow is fine the problem is that it is not being cleaned up after producer is closed.

[2015-12-01 21:19] avoxm commented on #23
@vchekan not sure yet how that is possible, but you can simulate the scenario I have described and attach a memory profiler to get more detailed picture.

[2015-12-01 21:21] avoxm commented on #23
@thunderstumpges when you say "are you correctly releasing all handles to the producer?" what do you mean ? Is there anything more to be done except CloseAsync ?

[2015-12-01 21:24] vchekan commented on #23
Seems there is not nice behavior in CircularBuffer.Get, when element which has been taken from queue is not assigned null and thus reference to a message remains and prevents sent message from GC until circular buffer makes full circle and overrides it. While not really a leak, it can cause red herring when using memory profiler. I'll fix it within a couple of days. But if you can produce a unit t

[2015-12-01 21:25] thunderstumpges commented on #23
Handles to the producer would be variables, fields, or other references preventing garbage collection. If you are not re-using the same producer instance then the buffer growth would only ever happen for one batch and the buffer for the next batch would be in an entirely new producer.

I think the best way to proceed would be if you could write a unit test that demonstrates your issue we can see h

[2015-12-01 21:26] avoxm commented on #23
In CloseAync there's this code :+1:

 _sendMessagesSubject = null;
OnPermError = null;
OnShutdownDirty = null;
OnSuccess = null;
OnTempError = null;

I was thinking to add _allPartitionQueues = null as well. It still needs to be checked, but it is possible that there's some event or anonymous function keeping a reference to it that's why GC is not marking it for cleanup.

[2015-12-02 05:01] avoxm commented on #23
Sure, I will create unit tests.

Meanwhile could you please tell me when the buffer is being shrunk ? Let's say throughput was not keeping up with my send requests and buffer grows, how and when it will release the memory ?

[2015-12-02 20:57] avoxm opened #24 "Closing and opening connection right after, throws exception"
Here is the code and the stack trace :

[code]

[code]

[2015-12-02 21:05] avoxm commented on #23
Here is the sample code to simulate the problem :

[code]

[2015-12-04 21:23] vchekan commented on #23
@avoxm Thanks for the code. It allowed me to verify your use case quickly.

I was able to verify that 10 Producers are somehow surviving GC. Together with a bug in Circular queue not releasing items after dequeuing it increase memory consumption. Fixing CircularBuffer bug decreased memory consumption from 43Mb to 5Mb. I've committed the fix (code only, did not regenerate nuget) and will investigat

[2015-12-04 22:33] #23 closed

[2015-12-17 21:07] avoxm commented on #20
@vchekan ok, so I have some time to work on this ....
Basically for each request type I need to do this :
1. In cluster.cs add 2 new methods one for each request type that will serve as a public interface for clients.
2. Add implementations in Protocol.cs
3. Add Serialize/Deserialize methods for each request type in Serializer.cs
4. Tests

Am I missing something ?

[2015-12-18 23:22] vchekan commented on #20
Seems right

[2015-12-31 13:15] vikmv opened #25 "Producer starts writing to the same single partition (when no Message.Key is specified)"
There is a bug in FletcherHashedMessagePartitioner.

Because Random is not thread-safe, when using Producer in multithreaded environment for some time it'll start writing to the single one partition (only when message has no Key specified).

Here is small snippet that shows, usage of random in multithreaded environment:
[code]

[2016-01-04 19:41] vchekan commented on #25
Thank you, accepted your patch.
Partitioning is indeed called in caller thread and thus must be thread-safe.
Published at nuget.org as version 1.3

[2016-01-04 19:41] #25 closed

[2016-01-12 13:55] vikmv opened #27 "Producer stops working after manual partition reassignment"
Noticed, that kafka producer stops working after running "kafka-reassign-partitions"

Here is excerpt from debug log:
[code]
after running reassignment, partition leader was changed, but producer did not refreshed metadata and still trying to send message to invalid broker
[code]

I'll try to reproduce it with unit test and think about fixing it.
It seems that fix would be to change `IsPermanentFa

[2016-01-12 20:02] vchekan commented on #27
Hmm, UnknownTopicOrPartition  can be caused by kafka configuration where automatic topic creation is disabled. In this case interpreting it as an recoverable error is undesirable. I do expect NotLeaderForPartition in case of partition reassignment, but getting UnknownTopicOrPartition is strange.

There is a test `ConsumerFollowsRebalancingPartitions` but seems producer is not tested under this con

[2016-01-12 20:25] vikmv commented on #27
I'm writing unit test for this case right now. Will share it soon.

[2016-01-12 21:22] vikmv commented on #27
Successfully reproduced it with a test and created a pull request (with test & fix).
According to the [Kafka protocol guide](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-ErrorCodes), error UnknownTopicOrPartition(3) is retriable, so it shouldn't be classified as permanent

[2016-01-12 21:36] vchekan commented on #27
Thanks Viktor, looking good at the first glance. I'll take a closer look and will commit in a couple days.

[2016-02-03 08:14] vikmv commented on #27
Fixed in #28

[2016-02-03 08:14] #27 closed

[2016-02-24 09:38] vikmv opened #30 "Memory leak in producer"
We have encountered some weird kafka cluster issue.
One of the kafka brokers was alive, but wasn't sending any metadata info and wasn't accepting new messages.
Kafka issue was fixed by restarting this single broker.

But some kafka4net producers during that time have consumed all the available memory.
Here what we have managed to find:

**Logs** (severity=info, no debug logs available):
[code]
and

[2016-02-24 17:48] vchekan commented on #30
Thanks for detailed report, I'll take a look and will try understand it this week.

[2016-03-02 20:22] #30 closed

[2016-05-24 17:48] vchekan opened #31 "ObjectDisposedException after closing producer"
In certain conditions it is possible to get exception after closing Producer:

[code]

The reason is quite tricky. Producer will inform caller about success or failure of individual messages via callbacks OnSuccess and OnPermError. Those callbacks are executed in driver's internal thread loop context. As long as subscriber to those events does not consume too much time, everything is good. But, in

[2016-05-24 22:30] #31 closed

[2016-05-25 17:18] vchekan commented on #7
Implemented in v-2.0

[2016-05-25 17:18] #7 closed

[2016-05-25 17:25] vchekan commented on #12
Implemented in v-2.0

[2016-05-25 17:25] #12 closed

[2016-05-28 23:23] yasirk1 opened #32 "Sample consumer code for multi-topic subscription"
Hi there, trying to find sample code for a consumer implementation that has a subscription to multiple topics and automatically commits offsets (either to kafka or other store).

Also, does this work with the latest version of Kafka ?

[2016-05-30 21:27] tigerinus opened #33 "How should I handle the situation when Kafka starts re-balancing data on brokers."
If my code start pushing 1 million records to Kafka as a job, and before that job ends if Kafka starts re-balancing data on its brokers (3 of them), then the job stops pushing the rest of the records for some reason.

Question - When Kafka re-balances the data, how should my code handle the situation? Or it's should be transparent that my code doesn't need to do anything?

[2016-05-31 19:25] vchekan commented on #33
The driver should handle rebalance internally. There is unit test for rebalancing while consumer is running, but not for producer.
https://github.com/ntent-ad/kafka4net/blob/master/tests/RecoveryTest.cs#L658

First, you need to enable logging https://github.com/ntent-ad/kafka4net/wiki/Troubleshooting#logger and see if driver reports something suspicious when this happen.

If you could reproduce yo

[2016-06-01 00:52] vchekan opened #34 "Implement protocol v1 and v2 (aka kafka-0.9 and 0.10)"
Message format changes seems to be minor, but Vagrant testing suite will require more work. Perhaps it makes sense to switch to Docker containers for better flexibility and lower VM resources consumption.

Some research is required on compatibility strategy, i.e. are clients backward/forward compatible with server? Would it be possible/desired to do automatic version detection?

[2016-06-01 00:56] vchekan commented on #32
At the moment only kafka-0.8 is supported. Updating to newer version should be not too much work, there are just 2 more fields in some of the calls, timestamp of message and throttling time. Probably it is more work in upgrading testing suite than code itself. I've created #34 so you can subscribe and get notification when status change.

I've added examples to the root README.md so people can qui

[2016-06-01 00:57] #32 closed

[2016-06-01 01:35] tigerinus commented on #33
OK. Let me see if I can collect anything useful from logging and get back to this thread.

[2016-06-01 13:25] tigerinus commented on #33
I've got the logs following the troubleshooting instructions. It said a number of events are missed due to bandwidth of something which I have no clue how to solve. During the event capturing my code uses almost 100% of CPU. The producer stops pushing any extra records after pushed 1.9mil out of 25mil records to Kafka - Previously it was able to push ~15mil without enabling the logging.

I am not

[2016-06-01 17:34] vchekan commented on #33
You probably did tracing. It should be enough to do logging at this stage, meaning `kafka4net.Logger.SetupLog4Net()` or `kafka4net.Logger.SetupNLog()` and taking a look at log file produced.

[2016-06-14 18:09] #33 closed

[2016-06-14 18:14] vchekan opened #35 "Better backward comptibility when enhancing configuration classes"
I've enhanced ProducerConfiguration class with new parameter, CompressionType. This keeps it source-compatible with previous version but binary incompatible. Method not found exception can be thrown if not all dependencies in a project using kafka4net are updated.

Rework config classes and move optional parameters into properties. This will allow to preserve both, source and binary backward compa

[2016-06-22 09:48] lihuazhang323 commented on #34
How can I transfer big file ?  Now i transfer 3.4MB file  . it show MessageSizeTooLarge.  How can i do it

[2016-06-24 10:50] lihuazhang323 commented on #32
I want transfer a big file  , how can i do it ?

[2016-07-05 19:53] vchekan commented on #34
@lihuazhang323 It would be better if you open new issue for such requests. Your question is not related to this ticket.
Regarding your question, try setting ProducerConfiguration.maxMessageSetSizeInBytes member.

[2016-07-05 20:48] thunderstumpges commented on #34
also beyond producer, there are other settings for broker and consumer. See
http://stackoverflow.com/questions/21020347/kafka-sending-a-15mb-message

[2016-09-01 06:49] marccarver opened #36 "Upgrade to System.Reactive 3"
Hi,
since version 3 the nuget package name for reactive extension is System.Reactive instead of Rx-Main.
Could you please upgrade to this version?

[2016-09-01 17:46] vchekan commented on #36
Thanks for heads up. I'll run unit tests and will test how old applications behave and if everything looks fine, will upgrade when I have a moment.

[2016-09-02 06:48] marccarver commented on #36
Thanks a lot really appreciated!
Marc

From: Vadim Chekan [mailto:notifications@github.com]
Sent: Thursday, September 01, 2016 7:46 PM
To: ntent-ad/kafka4net <kafka4net@noreply.github.com>
Cc: Helbing, Marc <marc.helbing@philips.com>; Author <author@noreply.github.com>
Subject: Re: [ntent-ad/kafka4net] Upgrade to System.Reactive 3 (#36)

Thanks for heads up. I'll run unit tests and will test how o

[2016-09-18 12:18] chiru1205 commented on #20
@avoxm , Did u ever implement Offset/Fetch API?

[2016-09-26 07:18] cbenien opened #37 "Consumer flow control is broken"
Hi,

I've been debugging a problem for the last week where my consuming application would crash with an out-of-memory exception. What I observed:
- when running the application on my local computer (fast CPU, but slow network), I can process the messages faster than kafka4net can fetch them from the network. Flow control is not needed, and the application runs fine through my topic which has about

[2016-09-27 21:11] vchekan commented on #37
@cbenien thank you for this reort and the patch

This definitely looks like a bug. I will try to find time this week to take a better look and will do something about it.

[2016-10-01 16:21] chiru1205 opened #39 "Consumer subscription to messages lost"
This may or may not be a bug. Please delete if this is not correct area. I need some information from the experts.

I have a process which subscribes to messages in Kafka queue. This process runs all the time and subscribes to messages(no termination)

Here is my issue. When ever there is an exception in my additional processing steps, I don't receive  any more message. All exceptions are handled

[2016-10-17 08:06] verrigo commented on #39
Hello,
How did you manage to subscribe to messages with no termination? Thx :)

[2016-10-17 17:47] vchekan commented on #39
@verrigo I think he means that there is no process termination, i.e. no consumer.Close() call.

@chiru1205 I would check 2 things. Move deserialization inside try-catch loop. And use 3-parameters subscribe call, with error and completion callback. I can not count how many times I had been bitten by not observing error callback in Subscribe() call.

[2016-10-27 20:35] chiru1205 commented on #39
@verrigo: No Termination process is consumer which is not closed. Its like subscription forever.

Thank you much I will subscribe to the error callbacks.

[2017-03-10 17:58] thunderstumpges opened #40 "Idle Connections getting closed are logged as Error"
Only seen once we upgraded our brokers to 0.10.1.1 however it seems like this problem should have been present in 0.8.2 as well. The default broker [setting](http://kafka.apache.org/documentation.html#brokerconfigs) for `connections.max.idle.ms` is 600,000 (10 mins). After we upgraded to 0.10.1.1 we are getting idle connection timeouts at 10 minutes, and the ResponseCorrelation class throws this a

[2017-03-10 18:05] thunderstumpges opened #41 "Cannot configure Tcp Keepalive"
Related to Issue #40 Currently there is no way to configure Tcp Keepalive. This is done in .net through `Socket.IOControl` see [here](http://stackoverflow.com/a/171344/3460789)

We should make this configurable, but leave the default off.

[2017-03-15 21:55] #40 closed

[2017-03-15 21:57] thunderstumpges commented on #41
Well I added the Tcp Keepalive code, and in testing it didn't prevent the idle connection reset anyway. I figure this must be implemented at the Application API level rather than the socket level in kafka broker.

I am closing this issue, but don't plan to merge this branch into master.

[2017-03-15 21:57] #41 closed

[2017-03-15 22:36] thunderstumpges commented on #37
reviewed the fix by @cbenien and it looks reasonable. As no one here has the bandwidth to think on any other "more preferred" way to do it, I made the decision to merge the pull request and publish v2.0.1 along with a couple other issues.

[2017-03-15 22:36] #37 closed

[2017-03-15 22:38] thunderstumpges commented on #39
Closing this as there's been no activity for some time.

[2017-03-15 22:38] #39 closed

[2017-07-14 12:54] alexandrnikitin opened #42 "Use RecyclableMemoryStream instead of MemoryStream"
MemoryStream allocates new memory each time, in case of large messages it goes to LOH. An example code:
https://github.com/ntent-ad/kafka4net/blob/a2c96aa987ddf3aa73446b02bfc0c1635a1a09b2/src/Protocols/Serializer.cs#L152

Proposed solution is `Microsoft.IO.RecyclableMemoryStream` https://github.com/Microsoft/Microsoft.IO.RecyclableMemoryStream

WDYT?

[2017-07-19 15:42] thunderstumpges commented on #42
We've sent and received quite a lot different size and rates of messages without noticing any measurable consequences. That being said, I can see the potential for benefit, and the RecyclableMemoryStream looks to be a drop-in replacement.

I don't have time to make this change myself right now, but if you want to submit a PR, I'll check it out and then integrate it.

-Thunder

[2017-07-19 23:28] vchekan commented on #42
It is already optimized. MemoryStream does not do allocation, instead it just wraps byte array network buffer.
https://github.com/ntent-ad/kafka4net/blob/48f702ef4e9162060a2f415d4008ad26b08b5288/src/Protocols/Serializer.cs#L361

In its turn, byte array is preallocated per tcp connection:
https://github.com/ntent-ad/kafka4net/blob/master/src/Protocols/ResponseCorrelation.cs#L64

and can be realloca

[2017-07-20 11:45] alexandrnikitin commented on #42
Thank you for replies.
@vchekan You pointed to deserialization logic. It's OK there. I meant serialization part, see link in the first post.
Here's a couple of allocation profile results from a production application:
![perfview_2017-07-20_14-38-04](https://user-images.githubusercontent.com/1798438/28415731-a1c9d6ea-6d59-11e7-9eac-c63512467651.png)
![perfview_2017-07-20_14-38-37](https://user-imag

[2017-07-24 03:49] vchekan commented on #42
Ah, serialization. You are right. It does allocate for every message. Which makes me thinking, why it is not the same way compression buffers are allocated (thread-static).

Another thing to consider is caller's payload serialization. As driver accepts byte arrays only, caller will do their own memory allocation and then kafka4net driver will do copy from caller's payload buffer into its internal

[2017-10-21 11:05] sungam3r opened #43 "Huge memory and threads consumption"
We have service application which logs http requests/responses and some other stuff into kafka through serilog-sinks-kafka nuget package. Under the hood this package uses kafka4net. Also we have other in-process integrations with serilog/nlog logging frameworks to send messages to different targets/sinks.

After some time we noticed that application became to consume too much memory and threads. T

[2017-10-21 16:00] thunderstumpges commented on #43
From what I recall of the design, and from a cursory look at the code, there is only ever one single thread per Producer that is in SendLoop() (each Producer instance has one sender thread). It is also normal for a producers send thread to wait on that event if there are no messages to send.

How many producers are being created by serilog-sinks-kafka? Can you verify the number of Producer instanc

[2017-10-21 16:13] thunderstumpges commented on #43
a 5 minute look at serilog-sinks-kafka (I don't know serilog, or how many of these `KafkaClient` objects are created, but their method GetOrCreateKafkaProducerAsync does NOT perform double-check-locking and has a very possible race condition allowing many producers to be created.

https://github.com/wespday/serilog-sinks-kafka/blob/5b0d311fa3eb4e1d76a8a694cab99d9bed544d3f/src/Serilog.Sinks.Kafka/S

[2017-10-21 16:24] sungam3r commented on #43
Thank you for explanation! I will verify the number of Producer instances created by serilog-sinks-kafka.
And just for the sake of interest what about infinite wait timeout?

[2017-10-25 21:15] sungam3r commented on #43
Yep, double-check-locking in serilog-sinks-kafka source code in GetOrCreateKafkaProducerAsync with some other minor modifications helped to solve this problem. Thank you again.

[2017-10-25 21:26] thunderstumpges commented on #43
Great Glad to hear it.

[2017-10-25 21:26] #43 closed, assigned to nobody

[2018-01-31 10:52] dhalfageme commented on #31
I'm using the latest version of the kafka4net NuGet package (2.0.1), which seems to have been realeased on  March of 2017 (The version 2.0.0 is the version that fixed this bug on May of 2016). However I'm still experiencing this issue, so I would like to manage it on my own code if possible.

I'm not sure If I understand completely this issue. The solution to fix it would be to include a critical

[2018-02-02 06:19] vchekan commented on #31
@dhalfageme could you give more details, stack trace if you can?

[2018-02-02 07:36] dhalfageme commented on #31
Hi @vchekan, I'm doing the following steps:

1. Connecting a producer and wait for the task to complete
2. Send some messages in a loop and disconnecting the producer.
3. Disconnect the producer and wait for the task to complete

I'm doing these tasks several times (every time I have enough messages to get a batch) in a streaming fashion.

I defined OnPermError  and OnSuccess callbacks. (Initially

[2018-02-07 07:23] dhalfageme commented on #31
Hi again,

I checked that the error happens even If y don't set the OnSucess and OnPermError  callbacks

[2018-02-08 05:10] vchekan commented on #31
Hmm, too complex stack trace to figure it out without debugging. The only thing I can spot is that you use Task.Wait(), which is blocking call. Just for sake of experiment, can ou turn your code into async?

[2018-02-08 09:20] dhalfageme commented on #31
It happens again! (This time running the disconnect asynchronously, but again using the callback methods)

[2019-06-08 11:04] grahamehorner opened #44 "Upgrade to System.Reactive 4"